[submodule "samples/ai-samples"]
	path = samples/ai-samples
	url = git@github.com:android/ai-samples.git
[submodule "samples/animation-samples"]
	path = samples/animation-samples
	url = git@github.com:android/animation-samples.git
[submodule "samples/app-bundle-samples"]
	path = samples/app-bundle-samples
	url = git@github.com:android/app-bundle-samples.git
[submodule "samples/architecture-components-samples"]
	path = samples/architecture-components-samples
	url = git@github.com:android/architecture-components-samples.git
[submodule "samples/camera-samples"]
	path = samples/camera-samples
	url = git@github.com:android/camera-samples.git
[submodule "samples/car-samples"]
	path = samples/car-samples
	url = git@github.com:android/car-samples.git
[submodule "samples/compose-samples"]
	path = samples/compose-samples
	url = git@github.com:android/compose-samples.git
[submodule "samples/connectivity-samples"]
	path = samples/connectivity-samples
	url = git@github.com:android/connectivity-samples.git
[submodule "samples/databinding-samples"]
	path = samples/databinding-samples
	url = git@github.com:android/databinding-samples.git
[submodule "samples/fit-samples"]
	path = samples/fit-samples
	url = git@github.com:android/fit-samples.git
[submodule "samples/graphics-samples"]
	path = samples/graphics-samples
	url = git@github.com:android/graphics-samples.git
[submodule "samples/health-samples"]
	path = samples/health-samples
	url = git@github.com:android/health-samples.git
[submodule "samples/identity-samples"]
	path = samples/identity-samples
	url = git@github.com:android/identity-samples.git
[submodule "samples/kotlin-multiplatform-samples"]
	path = samples/kotlin-multiplatform-samples
	url = git@github.com:android/kotlin-multiplatform-samples.git
[submodule "samples/media-samples"]
	path = samples/media-samples
	url = git@github.com:android/media-samples.git
[submodule "samples/midi-samples"]
	path = samples/midi-samples
	url = git@github.com:android/midi-samples.git
[submodule "samples/neural-networks-samples"]
	path = samples/neural-networks-samples
	url = git@github.com:android/neural-networks-samples.git
[submodule "samples/packager-manager-samples"]
	path = samples/packager-manager-samples
	url = git@github.com:android/packager-manager-samples.git
[submodule "samples/performance-samples"]
	path = samples/performance-samples
	url = git@github.com:android/performance-samples.git
[submodule "samples/privacy-sandbox-samples"]
	path = samples/privacy-sandbox-samples
	url = git@github.com:android/privacy-sandbox-samples.git
[submodule "samples/renderscript-samples"]
	path = samples/renderscript-samples
	url = git@github.com:android/renderscript-samples.git
[submodule "samples/search-samples"]
	path = samples/search-samples
	url = git@github.com:android/search-samples.git
[submodule "samples/security-samples"]
	path = samples/security-samples
	url = git@github.com:android/security-samples.git
[submodule "samples/sensors-samples"]
	path = samples/sensors-samples
	url = git@github.com:android/sensors-samples.git
[submodule "samples/testing-samples"]
	path = samples/testing-samples
	url = git@github.com:android/testing-samples.git
[submodule "samples/tv-samples"]
	path = samples/tv-samples
	url = git@github.com:android/tv-samples.git
[submodule "samples/uamp"]
	path = samples/uamp
	url = git@github.com:android/uamp.git
[submodule "samples/user-interface-samples"]
	path = samples/user-interface-samples
	url = git@github.com:android/user-interface-samples.git
[submodule "samples/views-widgets-samples"]
	path = samples/views-widgets-samples
	url = git@github.com:android/views-widgets-samples.git
[submodule "samples/wear-os-samples"]
	path = samples/wear-os-samples
	url = git@github.com:android/wear-os-samples.git
